<section id="add">
  <form action="/" method="post">
    <textarea name="title" placeholder="Title&hellip;"></textarea>
    <textarea name="body" placeholder="Article text&hellip;"></textarea>
    <textarea name="keywords" placeholder="Keywords(optional)&hellip;"></textarea>
    <textarea name="image_url" placeholder="Url(optional)&hellip;"></textarea>
    <input type="submit" value="Create!">
  </form>
</section>
 
<% @articles.each do |art| %>
  <article>
    <p><%= art.title %></p>
    <p><%= art.body %></p>
    <p><%= art.author_name %></p>
    <p><%= art.keywords %></p>
    <p><%= art.image_url %></p>
    <p><span><a href="/<%= art.id %>">[edit]</a></span></p>
    <p class="meta">Created: <%= art.created_at %></p>
    <p class="meta">Updated: <%= art.updated_at %></p>
  </article>
<% end %>